@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using MyTemplate.Web.Core.Models
@model ChangePasswordViewModel
@{
    var result = ViewBag.Result as ResultViewModel;
    ViewBag.Title = "修改密码";
}

<h2>@ViewBag.Title</h2>

@if (result != null)
{
    if (result.IsSuccess)
    {
        <div class="alert alert-success alert-dismissible" role="alert">提交成功。</div>
    }
    else
    {
        <div class="alert alert-danger alert-dismissible" role="alert">出现错误，请核对后重试。</div>
    }
}


<form asp-controller="Account" asp-action="ChangePassword" method="post" class="orm login-form validate-me" role="form">
    <div class="form-group col-sm-6">
        <label for="OldPassword">当前密码</label>
        <input asp-for="OldPassword" name="OldPassword" id="OldPassword" type="password" class="form-control" placeholder = "" />
        <span asp-validation-for="OldPassword"></span>
    </div>
    <div class="form-group col-sm-6">
        <label for="NewPassword">新密码</label>
        <input asp-for="NewPassword" name="NewPassword" id="NewPassword" type="password" class="form-control" placeholder = "" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="form-group col-sm-6">
        <label for="ConfirmPassword">核对密码</label>
        <input asp-for="ConfirmPassword" name="ConfirmPassword" id="ConfirmPassword" type="password" class="form-control" placeholder = "" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group col-sm-6">
        <button type="submit" class="btn btn-primary">提交</button>
    </div>
</form>


@section scripts
{
}
