<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" internalLogLevel="info">
  <!--throwExceptions="true" internalLogFile="c:\coding\log.txt" internalLogLevel="Trace">-->
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <targets>
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target name="csv" xsi:type="File" fileName="${basedir}/logs/${shortdate}.csv">
        <layout xsi:type="CSVLayout">
          <column name="logged" layout="${longdate}" />
          <column name="message" layout="${message}" />
          <column name="logger" layout="${logger}" />
          <column name="level" layout="${level}" />
        </layout>
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="csv" />
  </rules>
</nlog>